{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    {{template "header" .}}
    <div class="container">
        {{template "sidebar" .}}
        <main id="main-content">
            <!-- Conditionally include the content template based on .ContentTemplate -->
            {{if eq .ContentTemplate "home_content"}}
                {{template "home_content" .}}
            {{else if eq .ContentTemplate "agent_list_content"}}
                {{template "agent_list_content" .}}
            {{else if eq .ContentTemplate "agent_form_content"}}
                {{template "agent_form_content" .}}
            {{else if eq .ContentTemplate "workflow_content"}}  <!-- Add this condition -->
                {{template "workflow_content" .}}
            {{end}}
        </main>
    </div>
    <script src="/static/js/htmx.min.js"></script>
</body>
</html>
{{end}}
