{{define "sidebar_chats"}}
<div id="sidebar-chats">
    <h2><i class="fas fa-comment" style="padding-right: 5px;"></i> Conversations
        <span class="add-icon-wrapper">
            <a href="/chats/new" class="add-icon">
                <i class="fas fa-plus"></i>
            </a>
        </span>
    </h2>
    <ul class="chat-list" id="chat-list">
        {{range .Chats}}
        <li>
            <a href="/chats/{{.ID.Hex}}">
              <i class="fas fa-comment-dots"></i> {{.Name}}
            </a>
        </li>
        {{else}}
        <li>No active chats</li>
        {{end}}
    </ul>
</div>
{{end}}
