{{define "sidebar_agents"}}
<h2>
    <i class="fas fa-robot" style="padding-right: 5px;"></i> Agents
    <span class="add-icon-wrapper">
        <a href="/agents/new" class="add-icon">
            <i class="fas fa-plus"></i>
        </a>
    </span>
</h2>
<ul class="agent-list">
    {{range .Agents}}
      <li class="agent-item">
          <a href="#" onclick="selectAgent('{{.ID}}')" class="agent-link">
              <i class="fas fa-robot"></i> {{.Name}}
          </a>
      </li>
    {{else}}
      <li>No active agents</li>
    {{end}}
</ul>
{{end}}
